.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 100px;
}

.form {
  grid-column: 2 / 5;
  width: 100%;
}

.inputWrapper {
  padding-bottom: 15px;
  width: 100%;
}

.items-input-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  justify-items: center;
  gap: 10px;
  border-bottom: 0.5px solid #D3D3D3;
  margin-bottom: 10px;
}

.item-input {
  width: 100%;
}

.buttons-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media only screen and (max-width: 768px) {
  .buttons-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}