<div class="content">
    <mat-card class="form">
      <mat-card-title>Add workout</mat-card-title>
      <mat-card-content>
        <form [formGroup]="addWorkoutForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="input-wrapper">
            <input formControlName="name" type="text" matInput placeholder="Name">
          </mat-form-field>

          <div formArrayName="workoutItems" 
            *ngFor="let item of addWorkoutForm.get('workoutItems').controls; let i = index;">
            <div [formGroupName]="i" class="items-input-content">
              <mat-form-field class='item-input exercise-dropdown'>
                <mat-label>Muscle Group</mat-label>
                  <mat-select formControlName="muscleGroupId" matInput>
                  <mat-option *ngFor="let muscleGroup of muscleGroupList.muscleGroups" [value]="muscleGroup.id">
                    {{muscleGroup.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class='item-input exercise-dropdown'>
                <mat-label>Exercise</mat-label>
                <mat-select formControlName="exerciseId" matInput>
                  <mat-option *ngFor="let exercise of exerciseList.exercises" [value]="exercise.id">
                    {{exercise.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class='item-input'>
                <input formControlName="sets" matInput placeholder="Sets" type="number">
              </mat-form-field>

              <mat-form-field class='item-input'>
                <input formControlName="reps" matInput placeholder="Reps" type="number">
              </mat-form-field>

              <span class="clear-item">
                <mat-icon>clear</mat-icon>
              </span>

              <mat-form-field class='item-input'>
                <input formControlName="weight" matInput placeholder="Weight" type="number">
              </mat-form-field>

              <button mat-button (click)="removeItem(i)" class="clear-item">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="buttons-content">
            <button 
              mat-button 
              color="primary" 
              type="button"
              (click)="addItem()">
              Add item
            </button>
            
            <button 
              mat-raised-button 
              color="primary" 
              type="submit">
              Save
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>