<mat-card class="card workoutItem">
  <mat-card-title>{{workout.name}}</mat-card-title>
  <mat-card-subtitle>Chest</mat-card-subtitle>
  <mat-card-content>
    <!-- <mat-list role="list">
      <mat-list-item *ngFor="let workoutItem of workout.workoutItems" role="listitem">
        <p>{{workoutItem.exerciseName}} - Sets {{workoutItem.sets}} x Reps {{workoutItem.reps}}</p>
      </mat-list-item>
    </mat-list> -->
    
    <!-- <mat-card-actions>
        <button mat-button><mat-icon>edit</mat-icon></button>
        <button mat-button><mat-icon>delete</mat-icon></button>
      </mat-card-actions> -->
  </mat-card-content>
</mat-card>